* {
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
}
.container {
  .header-section {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(18, 4, 175, 0.508);
  }
}
