<div class="slider-container">
  <div class="slider">
    <div class="slider-group">
      <div class="slide">
      <!-- <img src="/src/assets/slider-images/Apple-logo .png" alt="" /> -->
      </div>
      <div class="slide">
        <a href=""><img src="" alt="" /></a>
      </div>
      <div class="slide">
        <a href=""><img src="" alt="" /></a>
      </div>
      <div class="slide">
        <a href=""><img src="" alt="" /></a>
      </div>
      <div class="slide">
        <a href=""><img src="" alt="" /></a>
      </div>
      <div class="slide">
        <a href=""><img src="" alt="" /></a>
      </div>
      <div class="slide">
        <a href=""><img src="" alt="" /></a>
      </div>
      <div class="slide">
        <a href=""><img src="" alt="" /></a>
      </div>
      <div class="slide">
        <a href=""><img src="" alt="" /></a>
      </div>
      <div class="slide">
        <a href=""><img src="" alt="" /></a>
      </div>
      <div class="slide">
        <a href=""><img src="" alt="" /></a>
      </div>
      <div class="slide">
        <a href=""><img src="" alt="" /></a>
      </div>
      <div class="slide">
        <a href=""><img src="" alt="" /></a>
      </div>
      <div class="slide">
        <a href=""><img src="" alt="" /></a>
      </div>
      <div class="slide">
        <a href=""><img src="" alt="" /></a>
      </div>
      <div class="slide">
        <a href=""><img src="" alt="" /></a>
      </div>
    </div>
  </div>
</div>
