.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 350px);
  gap: 40px;
  align-items: center;
  justify-content: center;
  margin: 40px 40px;
  margin-bottom: 60px;
}

.block-element {
  display: inline-block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  margin: 5px;
}
@media (max-width: 1200px) {
  .products-grid {
    grid-template-columns: repeat(3, 250px);
  }

  .checkout button {
    font-size: 24px;
    min-width: 196px;
  }
}
@media (max-width: 992px){
  .products-grid {
    grid-template-columns: repeat(2, 250px);
  }

}
@media (max-width: 767px){
  .products-grid {
    grid-template-columns: repeat(1, 350px);
  }

}

